:root {
  --primary-color: #3518b3;
  --secondary-color: #e0d7bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--primary-color);
}

body {
  width: 100vw;
  height: 100vh;

  background: var(--secondary-color);
}

section {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

form {
  gap: 1rem;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 400px;

  padding: 1rem;
  border-radius: 10px;
  background: whitesmoke;
}

.form-group {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;

    color: white;
    background: rgb(79, 68, 224);

    border: none;
    border-radius: 20px;

    cursor: pointer;
}
