:root {
    --primary-color: #d13068;
    --secondary-color:#1f1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--primary-color);
}

body {
    width: 100vh;
    height: 400vh;

    background: var(--secondary-color);
}

section {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

form {
    gap: 1rem;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 400px;

    padding: 1rem;
    border-radius: 10px;
    background: #2e2e2e;
}

.form-group {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;

    color: white;
    background: rgb(15, 0, 219);

    border: none;
    border-radius: 20px;

    cursor: pointer;
}

div
{
    border: 1px solid #000; /* Grosor, tipo y color del borde */
    padding: 3px;
}